@font-face {
  font-family: "Acumin Pro";
 src: url(./font/Acumin-BdPro.otf);
  
}

.App {
  margin: auto;
  width: 1920px;
  height: 1080px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

// LEFT CONTAINER
.leftContainer {
  width: 150px;
  height: 1080px;
  position: fixed;

  &.expanded {
    width: 100%;
    z-index: 2;
    transition: width 1000ms;
    -webkit-transition: width 1000ms;
    -moz-transition: width 1000ms;
    -ms-transition: width 1000ms;
    -o-transition: width 1000ms;
}
  &.collpased {
    z-index: 2;
    transition: width 1s;
  }

  .menuCollapsed {
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  background: white;
  display: flex;
  align-items: center;

  .logo {
    background: url("images/logoRabbit@2x.png") no-repeat;
    width: 69px;
    height: 57px;
    background-size: contain;
  }
  .panier {
    background: url("images/panier.png") no-repeat;
    width: 30px;
    height: 20px;
    background-size: contain;
  }
  .hyphen-ver {
    background: url("images/hyphen-vertical.PNG") no-repeat;
    width: 17px;
    height: 51px;
    background-size: contain;
  }
  .btn-menu {
    background: url("images/btn-menu.png") center center no-repeat;
    width: 60px;
    height: 60px;
    background-size: initial;
    cursor: pointer;
    transition: height 500ms ease, width 500ms ease;
    &:hover {
      background-size: contain;
    }
  }

  .btn-close {
    background: url("images/btn-close.png") center center no-repeat;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-size: initial;
    &:hover {
      background-size: contain;
    }
  }
  .search {
    background: url("images/search.png") no-repeat;
    width: 16px;
    height: 16px;
    background-size: contain;
  }
  .orgabit {
    width: 20px;
    transform: matrix(0, -1, 1, 0, 0, 0);
    font: normal normal bold 20px/28px Acumin Pro;
    margin-top: 50px;
  }
}

.menuExpanded {
  width: calc(100% - 150px);
  height: 100%;
  &.show {
    display: block;
  }
  &.hide {
    display: none;
  }
}

.panel {
  width: 1770px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .row {
    display: flex;
    flex-direction: row;

    .hyphen {
      width: 30px;
      background: #f3d145;
      height: 1px;
      margin-right: 10px;
    }

    .subMenu {
      li {
        display: flex;
        align-items: center;
        margin: 30px 50px;
        list-style-type: none;
      }
    }

    .subMenu1 {
      li {
        display: none;
      }
    }
    .subMenu2 {
      li {
        display: none;
      }
    }
  }
}

.slideTomate {
  right: 850px;
  position: absolute;
  top: 70px;
  .tomate {
    opacity: 0;
    background-image: url("images/tomPan.png");
    height: 950px;
    width: 100px;
   background-repeat: no-repeat;
    transition: all 1s ease;
    &.slideIn {
      opacity: 1;
      width: 950px;
    }
  }
}
// RIGHT CONTAINER
.rightContainer {
  width: 1770px;
  height: 1080px;
  position: fixed;

  background: #f8f9fb;
  .titleContainer {
    position: absolute;
    top: 250px;
    width: 40%;
    opacity: 0.8;
    right: 350px;
    .title {
      width: 100%;
      font: normal normal bold 124px Acumin Pro;
    }
  }
  .bigBg {
    position: absolute;
    width: calc(100% - 150px);
    height: 100%;
    left: 150px;
    top: 160px;
    opacity: 0;
    animation: slideUp 0.8s ease-in-out forwards 0.8s;
    img {
      width: 60%;
    }
    &.pieapple {
      background: url("images/ananas.png") no-repeat;
      width: 540px;
      left: 200px;
      top: 200px;
    }
    &.brocoli {
      background: url("images/chou.png") no-repeat;
      width: 100%;
      left: 0;
      top: 125px;
    }
  }
  .header {
    position: relative;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .hyphen {
      width: 30px;
      background: #f3d145;
      height: 1px;
      margin-right: 10px;
    }

    .subMenu {
      li {
        display: flex;
        align-items: center;
        margin: 15px 0;
        list-style-type: none;
      }
      animation: submenu 2s linear forwards;
      -webkit-animation: submenu 2s linear forwards;
    }
    .socialIcons {
      .twitter {
        background: url("images/twitter.png") no-repeat;
        top: 67px;
        left: 1839px;
        width: 21px;
        height: 21px;
        opacity: 1;
        padding-bottom: 10px;
      }
      .youtube {
        top: 116px;
        left: 1839px;
        width: 21px;
        height: 21px;
        background: url("images/youtube.png") 0% 0% no-repeat;
        border-radius: 18px;
        opacity: 1;
        padding-bottom: 10px;
      }
      .instagram {
        top: 166px;
        left: 1839px;
        width: 21px;
        height: 21px;
        background: url("images/instagram.png") 0% 0% no-repeat;
        opacity: 1;
        padding-bottom: 10px;
      }
      .facebook {
        top: 215px;
        left: 1839px;
        width: 21px;
        height: 21px;
        background: url("images/face.png") 0% 0% no-repeat;
        opacity: 1;
      }
      animation: iconSocio 2s linear;
      -webkit-animation: iconSocio 2s linear;
    }
  }
  .pagination {
    position: absolute;
    width: 1700px;
    display: flex;
    top:920px;
    left:170px;
    align-items: center;
    .pageNumber {
      padding: 20px;
    }
    .thumbContainer {
      margin-left: auto;
      display: flex;
      width: 420px;
      .togglePage {
        background: #f1d145;
        width: 108px;
        height: 54px;
        margin-right: 50px;
        text-align: center;
        color: #ffffff;
        padding-top: 50px;
        background: linear-gradient(to left, #f1d145 50%, #375238 50%) right;
        background-size: 200%;
        transition: 0s;
      }
      .togglePage:hover {
        background-position: left;
        transition: 0.6s ease-out;
      }
      .thumbnail {
        width: 161px;
        height: 107px;
        &.brocoli {
          background: url("images/next-fruit.png") no-repeat transparent;
        }
        &.pieapple {
          background: url("images/next-vege.png") no-repeat transparent;
        }
      }
    }
  }
}
.loading {
  width: 1770px;
  height: 1080px;
  position: absolute;
  background: #f7fbfc;
  opacity: 0;
 
}
.loadingContainer {
  width: 1770px;
  height: 1080px;
  background: #fff;
  display: flex;
  align-items: center;
}
.btn {
  width: 208px;
  height: 38px;
  border: none;
  padding-top: 15px;
  text-align: center;
  opacity: 1;
  color: white;
  border: none;
  cursor: pointer;
  background: linear-gradient(to left, #f1d145 50%, #375238 50%) right;
  background-size: 200%;
  transition: 0s;
}
.btn:hover {
  background-position: left;
  transition: 0.6s ease-out;
}

.subtitle {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.5;
  text-align: left;
  padding: 20px;
}
p {
  text-align: left;
  font: normal normal bold 12px/14px Acumin Pro;
  color: #375238;
  opacity: 1;
}


.outer-div {
  margin: 0 auto;
  position: relative;
  top: 50px;
  left: 450px;
  width: 1770px;
  height: 1080px;
  .inner-div{
    text-align: center;
    padding-top: 445px;
    left: 1550px;
   
  }
  
}

@keyframes submenu {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  50% {
    transform: translateX(-200px);
    opacity: 0;
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
}
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes iconSocio {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  50% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes tomate {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes panel {
  0% {
    transform: translateX(-700px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes btn-next {
  0% {
    background-color: #124215;
    left: 0px;
  }
  100% {
    background-color: #f3d145;
  }
}

@keyframes btn-menu {
  0% {
    width: 69px;
    height: 57px;
  }
  100% {
    width: 73px;
    height: 60px;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(10%);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(70%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}



