@keyframes myanim {
  0% {
    bottom: -200px;
  }
  50% {
    bottom: -100px;
  }
  100% {
    bottom: 0px;
  }
}

.App {
  display: flex;
  .leftContainer {
    width: 150px;
    background: white;
    height: 100vh;
  }
}

.rightContainer {
  width: calc(100% - 150px);
  height: 100vh;
  .body {
    position: relative;
    width: 100%;
    height: calc(100% - 150px);
    .titleContainer {
      position: absolute;
      right: 100px;
      top: 20px;
      width: 60%;
      .title {
        font-size: 70px;
      }
    }
    .bigBg {
      position: absolute;
      width: 600px;
      height: 487px;
      &.pieapple {
        background: url("/images/pieapple.jpg") no-repeat;
        background-position: bottom left;
        background-size: contain;
      }
      &.brocoli {
        background: url("/images/brocoli.jpg") no-repeat;
        background-position: bottom left;
        background-size: contain;
      }

      animation: myanim 3s linear;
    }
    .pagination {
      position: absolute;
      bottom: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      .pageNumber {
        padding: 20px;
      }
      .thumbContainer {
        margin-left: auto;
        display: flex;
        .togglePage {
          background: yellow;
          width: 50px;
          height: 107px;
        }
        .thumbnail {
          width: 161px;
          height: 107px;
          &.brocoli {
            background: url("/images/brocoli-thumb.png") no-repeat transparent;
          }
          &.pieapple {
            background: url("/images/pieapple-thumb.png") no-repeat transparent;
          }
        }
      }
    }
  }
}

.header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .hyphen {
    width: 20px;
    background: #f3d145;
    height: 1px;
    margin-right: 5px;
  }
  .subMenu {
    li {
      display: flex;
      align-items: center;
      margin: 15px 0;
      list-style-type: none;
    }
  }
  .socialIcons li {
    list-style-type: none;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
